<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dashboard1.css">
    <title>Pinterest</title>
</head>
<body>
    <div id="container">
        <section id="First">
<!-- .....................................NAVBAR STARTS.............................................................. -->
       <div id="nav">
        <div class="left-nav">
            <img src="/images/Pinterest-logo.png" class="firstpic">
            <a href="/dashboard">Home</a>
            <a href="#">Explore</a>
            <a href="#">Create</a>
        </div>
        <div class="center-nav">
            <div class="searchbar">
            <input id="searchbar-space" type="text" name="search_bar"  placeholder="search" onclick="SEARCHBAR()" >
            </div>
        </div>
        <div class="right-nav">
            <div class="logo">
            <img src="/images/icon-ios7-bell-512.jpg" title="Notifications" class="bellimg">
            <a href="/profile"><img src="/images/profile-user.png" title="Profile" class="profileimg"></a>
            <a href="/logout" class="logout">Logout</a>
            </div>
        </div>
       </div>
</div>
<div id="main">
    <!--..........................FIRSTROW.........................................-->
    <div class="Firstrow">
        <div class="picture1" onmouseover="In()" onmouseout="Out()">
            <img src="/images/Dashboard/PICTURE1.jpg" alt="Picture1">
            <a href="/images/Dashboard/PICTURE1.jpg" download="First_image" id="one">Save</a>
        </div>
        <div class="picture2" onmouseover="In1()" onmouseout="Out1()">
            <img src="/images/Dashboard/PICTURE2.jpg" alt="Picture2">
            <a href="/images/Dashboard/PICTURE2.jpg" download="Second_image" id="two">Save</a>
        </div>
        <div class="picture3" onmouseover="In2()" onmouseout="Out2()">
            <img src="/images/Dashboard/PICTURE3.jpg" alt="Picture3">
            <a href="/images/Dashboard/PICTURE3.jpg" download="third_image" id="three">Save</a>
        </div>
        <div class="picture4" onmouseover="In3()" onmouseout="Out3()">
            <img src="/images/Dashboard/PICTURE4.jpg" alt="Picture4">
            <a href="/images/Dashboard/PICTURE4.jpg" download="fourth_image" id="four">Save</a>
        </div>
        <div class="picture5" onmouseover="In4()" onmouseout="Out4()">
            <img src="/images/Dashboard/PICTURE5.jpg" alt="Picture5">
            <a href="/images/Dashboard/PICTURE5.jpg" download="fifth_image" id="five">Save</a>
        </div>
        <div class="picture6" onmouseover="In5()" onmouseout="Out5()">
            <img src="/images/Dashboard/PICTURE6.jpg" alt="Picture6">
            <a href="/images/Dashboard/PICTURE6.jpg" download="sixth_image" id="six">Save</a>
        </div>
    </div>
    <!--............................................SECOND ROW...........................................-->
    <div class="Secondrow">
        <div class="picture7" onmouseover="In6()" onmouseout="Out6()">
            <img src="/images/Dashboard/PICTURE7.jpg" alt="Picture7">
            <a href="/images/Dashboard/PICTURE7.jpg" download="Seventh_image" id="seven">Save</a>
         </div>
         <div class="picture8" onmouseover="In7()" onmouseout="Out7()">
            <img src="/images/Dashboard/PICTURE8.jpg" alt="Picture8">
            <a href="/images/Dashboard/PICTURE8.jpg" download="Eighth_image" id="eight">Save</a>
        </div>
        <div class="picture9" onmouseover="In8()" onmouseout="Out8()">
            <img src="/images/Dashboard/PICTURE9.jpg" alt="Picture9">
            <a href="/images/Dashboard/PICTURE9.jpg" download="ninth_image" id="nine">Save</a>
        </div>
        <div class="picture10" onmouseover="In9()" onmouseout="Out9()">
            <img src="/images/Dashboard/PICTURE10.jpg" alt="Picture10">
            <a href="/images/Dashboard/PICTURE10.jpg" download="Tenth_image" id="ten">Save</a>
        </div>  
        <div class="picture11" onmouseover="In10()" onmouseout="Out10()">
            <img src="/images/Dashboard/PICTURE11.jpg" alt="Picture11">
            <a href="/images/Dashboard/PICTURE11.jpg" download="Eleventh_image" id="eleven">Save</a>
        </div>
        <div class="picture12" onmouseover="In11()" onmouseout="Out11()">
            <img src="/images/Dashboard/PICTURE12.jpg" alt="Picture12">
            <a href="/images/Dashboard/PICTURE12.jpg" download="Twelve_image" id="twelve">Save</a>
        </div>
    </div>
    <!--...........................................THIRD ROW............................................................-->
    <div class="Thirdrow">
        <div class="picture13" onmouseover="In12()" onmouseout="Out12()">
            <img src="/images/Dashboard/PICTURE13.jpg" alt="Picture13">
            <a href="/images/Dashboard/PICTURE13.jpg" download="Thirteenth_image" id="thirteen">Save</a>
         </div>
         <div class="picture14" onmouseover="In13()" onmouseout="Out13()">
            <img src="/images/Dashboard/PICTURE14.jpg" alt="Picture14">
            <a href="/images/Dashboard/PICTURE14.jpg" download="Fourteenth_image" id="fourteen">Save</a>
        </div>
        <div class="picture15" onmouseover="In14()" onmouseout="Out14()">
            <img src="/images/Dashboard/PICTURE15.jpg" alt="Picture15">
            <a href="/images/Dashboard/PICTURE15.jpg" download="Fifteenth_image" id="fifteen">Save</a>
        </div>
        <div class="picture16" onmouseover="In15()" onmouseout="Out15()">
            <img src="/images/Dashboard/PICTURE16.jpg" alt="Picture16">
            <a href="/images/Dashboard/PICTURE16.jpg" download="Sixteenth_image" id="sixteen">Save</a>
        </div>  
        <div class="picture17" onmouseover="In16()" onmouseout="Out16()">
            <img src="/images/Dashboard/PICTURE17.jpg" alt="Picture17">
            <a href="/images/Dashboard/PICTURE17.jpg" download="Seventeenth_image" id="seventeen">Save</a>
        </div>
         <div class="picture18" onmouseover="In17()" onmouseout="Out17()">
            <img src="/images/Dashboard/PICTURE18.jpg" alt="Picture18">
            <a href="/images/Dashboard/PICTURE18.jpg" download="Eighteen_image" id="eightteen">Save</a>
        </div>
    </div>
    <!--.................................................FOURTHROW......................................................-->
    <div class="Fourthrow">
        <div class="picture19" onmouseover="In18()" onmouseout="Out18()">
            <img src="/images/Dashboard/PICTURE19.jpg" alt="Picture19">
            <a href="/images/Dashboard/PICTURE19.jpg" download="Nineteenth_image" id="nineteen">Save</a>
         </div>
         <div class="picture20" onmouseover="In19()" onmouseout="Out19()">
            <img src="/images/Dashboard/PICTURE20.jpg" alt="Picture20">
            <a href="/images/Dashboard/PICTURE20.jpg" download="Twenteenth_image" id="twenty">Save</a>
        </div>
        <div class="picture21" onmouseover="In20()" onmouseout="Out20()">
            <img src="/images/Dashboard/PICTURE21.jpg" alt="Picture21">
            <a href="/images/Dashboard/PICTURE21.jpg" download="Twentyone_image" id="twentyone">Save</a>
        </div>
        <div class="picture22" onmouseover="In21()" onmouseout="Out21()">
            <img src="/images/Dashboard/PICTURE22.jpg" alt="Picture22">
            <a href="/images/Dashboard/PICTURE22.jpg" download="Twentytwo_image" id="twentytwo">Save</a>
        </div>  
        <div class="picture23" onmouseover="In22()" onmouseout="Out22()">
            <img src="/images/Dashboard/PICTURE23.jpg" alt="Picture23">
            <a href="/images/Dashboard/PICTURE23.jpg" download="Twentythree_image" id="twentythree">Save</a>
        </div>
        <div class="picture24" onmouseover="In23()" onmouseout="Out23()">
            <img src="/images/Dashboard/PICTURE24.jpg" alt="Picture24">
            <a href="/images/Dashboard/PICTURE24.jpg" download="Twentyfour_image" id="twentyfour">Save</a>
        </div>
    </div>
    <!--..........................MAIN ENDS........................................................................-->
    </div>
        </section>
        </div>
    <script src="/javascripts/dashboard1.js"></script>
</body>
</html>