<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Pinterest- India</title>
    <link rel="icon" href="/images/Pinterest-logo.png">
</head>
<body>
    <div id="container">
        <section class="FIRST">
        <div id="header">
        <div class="nav">
            <img src="/images/Pinterest-Logooo.png" alt="pinterest-logo" id="pintrest">
            <div class="left-nav">
                <a href="#">Today</a>
                <a href="#">Watch</a>
                <a href="#">Explore</a>
            </div>
            <div class="right-nav">
                <a href="#">About</a>
                <a href="#">Business</a>
                <a href="#">Contact us</a>
                <div id="btn">
                <a href="/index"><button class="btn1">Login</button></a>
                <a href="/register"><button class="btn2">Sign up</button></a>
                </div>
            </div>
        </div>
     </div>
<!--.....................................................................................................-->    
        <div id="main">
        <div class="first">
            <div class="one">
            <h1>Get your next</h1>
            </div>
            <div class="two">
            <h1 class="txt">outfit your idea</h1>
            </div>
        </div>
        <div id="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="btn1" onclick="change1()">
                <input type="radio" name="radio-btn" id="btn2" onclick="change()">
                <input type="radio" name="radio-btn" id="btn3" onclick="change2()">
            </div>
        </div>
        <div class="img-sliders">
                <div class="imgslides1">
                <img src="/images/aromateec--q9tuxLn4hA-unsplash.jpg"class="pic1">
                </div>
                <div class="img-slides-2">
                <img src="/images/chalo-garcia-Q1vtxAfUIrg-unsplash.jpg" alt="img-2">
                </div>
                <div class="img-slides-3">
                <img src="/images/heather-ford-5gkYsrH_ebY-unsplash.jpg" alt="img-3">
                </div>
                <div class="img-slides-4">
                <img src="/images/sincerely-media-6cHumpSxTvs-unsplash.jpg" alt="img-4">
                </div>
                <div class="img-slides-5">
                <img src="/images/hector-achautla-YPtKkq3Rdp8-unsplash.jpg" alt="img-5">
                </div>
                <div class="img-slides-6">
                <img src="/images/junko-nakase-Q-72wa9-7Dg-unsplash.jpg" alt="img-6">
                </div>
         </div>
         <div class="arrow">
         <button><span id="arw">></span></button>
        </div>
         <div class="last-div">
            <h5>Here's how it works <span>></span></h5>
         </div>
        </div>  
    </section>
    <!-- ................................................................................... -->
    <section class="SECOND">
        <div id="left1">
            <div class="pictures1">
                <img  src="/images/chicken1.jpg" alt="chicken1">
            </div>
            <div class="pictures2">
                <img  src="/images/chicken2.jpg" alt="chicken2">
            </div>
        </div>
        <div id="right2">
            <div class="words">
            <h1>Search for an idea</h1><br>
            <p>What do you want to try next? Think<br> of something you're into—like “easy<br> chicken dinner”—and see what you find.</p>
            <a href="https://in.pinterest.com/ideas/food-and-drink/918530398158/" target="_blank"><button>Explore</button></a>
            </div>
        </div>
    </section>
    <!-- ............................................................................ -->
    <section class="THIRD">
        <div class="left2">
            <div class="words2">
            <h1>Saves ideas you like</h1><br>
            <p>Collect your favorites so you can<br>get back to them later.</p>
            <button>Explore</button>
            </div>
        </div>
        <div class="right3">
            <div class="three">
                <img src="/images/home1.jpg" alt="home image" title="Home Decor image">
                <img src="/images/home2.jpg" alt="home image" title="Home Decor image">
            </div>
            <div class="four">
                <img src="/images/home3.jpg" alt="home image" title="Home Decor image">
                <img src="/images/home4.jpg" alt="home image" title="Home Decor image">
            </div>
        </div>
    </section>
    <!-- ....................................................................................... -->
    <section class="FOURTH">
        <div class="left3">
            <img src="/images/explore.png" alt="explore-png">
        </div>
        <div class="right4">
            <div class="words3">
                <h1>See it, make it,<br> try it, do it</h1>
                <p>The best part of Pinterest is discovering<br> new things and ideas from people<br> around the world.</p>
                <button>Explore</button>
                </div>
        </div>
    </section>
    <!-- ....................................................................................... -->
    <section class="FIFTH">
        <div class="top">
            <img src="/images/Last.png" alt="">
        </div>
        <div class="down">
        <a href="https://github.com/Harshraj337" target="_blank">Owner of this website</a>
        <a href="https://policy.pinterest.com/en/terms-of-service" target="_blank">Terms of Services</a>
        <a href="https://policy.pinterest.com/en/privacy-policy" target="_blank">Privacy Policy</a>
        <a href="https://help.pinterest.com/en" target="_blank">Help</a>
        <a href="https://apps.apple.com/us/app/pinterest/id429047995" target="_blank">Iphone App</a>
        <a href="https://play.google.com/store/apps/details?id=com.pinterest&pli=1" target="_blank">Android App</a>
        <a href="https://in.pinterest.com/html_sitemap/pinners_a.html" target="_blank">Users</a>
        <a href="https://in.pinterest.com/html_sitemap/boards_a.html" target="_blank">Collections</a>
        <a href="https://in.pinterest.com/#bottom" target="_blank">Shopping</a>
        <a href="https://in.pinterest.com/today/" target="_blank">Today</a>
        <a href="https://in.pinterest.com/ideas/" target="_blank">Explore</a>
        <a href="https://in.pinterest.com/videos/" target="_blank">Watch</a>
        <a href="https://in.pinterest.com/ideas/" target="_blank">Shop</a>
        </div>
    </section>
    <script src="/javascripts/Home.js"></script>
</body>
</html>

