<% include  ./partials/header.ejs %>
<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-90 h-[vh] bg-zinc-100  px-20 py-10 rounded-[30px]">
    <h1 class="text-3xl tracking-tighter text-center font-semibold text-zinc-700  leading-none ">Welcome to pinterest</h1>
    <form action="/register " method="post">
      <!-- Name -->
      <input type="text"    class='block w-full mt-5  px=3 py-2' name="username" placeholder="Username"/>
      <input type="email"    class='block w-full mt-5  px=3 py-2' name="email" placeholder="email"/>
      <input type="text"    class='block w-full mt-5  px=3 py-2' name="fullname" placeholder="Full name"/>
      <input type="number"    class='block w-full mt-5  px=3 py-2' name="contact" placeholder="contact"/>
      <input type="password"    class='block w-full mt-5 px=3 py-2' name="password" placeholder="Password"/>
      
      <input type="submit"  value="Create New Account "  class="block w-full mt-2  px=3 py-2 bg-red-600  text-white rounded-full" />
      
    </form>
<a class="inline-block mt-7 text-sm font-semibold text-center text-zinc-700 w-full " href="/" >Login Existing Account </a>
  </div>
</div>

<% include  ./partials/footer.ejs %>
 