<!-- searchResults.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <% if (posts.length > 0) { %>
        <div id="imageContainer">
            <% posts.forEach(post => { %>
                <div>
                    <h2><%= post.title %></h2>
                    <img src="<%= post.image %>" >
        <img src= "/images/uplods/<%=post.image%>"   alt="<%= post.title %>" />

                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No results found</p>
    <% } %>
</body>
</html>
